/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
.navbar {
    background-color: #000; /* Black background */
    color: #fff;
    padding: 10px 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 40px; /* Adjust height as needed */
}

.search-bar {
    flex: 1;
    margin: 0 20px;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    width: 250px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar button {
    background-color: #c4302b;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* Navigation links */
.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #c4302b;
}

/* Main Content */
.content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Footer */
.footer {
    background-color: #000; /* Black background */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
